*{
  margin:0;
  padding:0;
}

html, body{
  font-size: 18px;
  background-color: rgb(245, 245, 245);
}

h1{
  max-width: 940px;
  font-size: 2.5em; /*2.5 el valor del contenedor*/
  font-family: Lato, sans-serif;
  font-weight: 700; /*No llega a ser bold pero es un poco mas gruesa*/
  line-height: 1.1;
  margin: 40px 0;
}

.App{
  min-height: 100vh; /*altura minima de la aplicacion, esto hara que se adapte*/
  display:flex;
  flex-wrap: wrap;/*Si un elemento ocupa todo el ancho el resto se va a ubicar en la siguiente linea*/
  align-items: center;
  justify-content: center; /*Centramos horizontalmente*/
  text-align: center;
}

.contenedor-principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; /*Centramos horizontalmente*/
  text-align: center;
}
